.message{
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message_user{
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.message_userCard{
    background-color: rgba(89, 89, 192, 0.753) !important;
}

.message_guestCard{
    background-color: rgba(93, 171, 182, 0.753) !important;
}